In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
# Create SparkSession
spark = SparkSession.builder.master("local").appName("ExampleSparkApp").getOrCreate()

In [3]:
df = spark.read.option("header", "true").csv("taxi_zone_lookup.csv")

In [4]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [5]:
df.head(5)

[Row(LocationID='1', Borough='EWR', Zone='Newark Airport', service_zone='EWR'),
 Row(LocationID='2', Borough='Queens', Zone='Jamaica Bay', service_zone='Boro Zone'),
 Row(LocationID='3', Borough='Bronx', Zone='Allerton/Pelham Gardens', service_zone='Boro Zone'),
 Row(LocationID='4', Borough='Manhattan', Zone='Alphabet City', service_zone='Yellow Zone'),
 Row(LocationID='5', Borough='Staten Island', Zone='Arden Heights', service_zone='Boro Zone')]

In [6]:
df.schema

StructType([StructField('LocationID', StringType(), True), StructField('Borough', StringType(), True), StructField('Zone', StringType(), True), StructField('service_zone', StringType(), True)])

In [7]:
# Initial number of partitions
initial_partitions = df.rdd.getNumPartitions()
print(f"Initial Partitions: {initial_partitions}")

Initial Partitions: 1

In [8]:
# Repartition to 20 partitions
repartitioned_df = df.repartition(20)
new_partitions = repartitioned_df.rdd.getNumPartitions()
print(f"New Partitions after Repartition: {new_partitions}")

New Partitions after Repartition: 20

In [9]:
df.write.parquet("taxi_zone_lookup/", mode="overwrite")

In [10]:
df = spark.read.parquet("taxi_zone_lookup/")

In [11]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [12]:
df.head(5)

[Row(LocationID='1', Borough='EWR', Zone='Newark Airport', service_zone='EWR'),
 Row(LocationID='2', Borough='Queens', Zone='Jamaica Bay', service_zone='Boro Zone'),
 Row(LocationID='3', Borough='Bronx', Zone='Allerton/Pelham Gardens', service_zone='Boro Zone'),
 Row(LocationID='4', Borough='Manhattan', Zone='Alphabet City', service_zone='Yellow Zone'),
 Row(LocationID='5', Borough='Staten Island', Zone='Arden Heights', service_zone='Boro Zone')]

In [13]:
df.schema

StructType([StructField('LocationID', StringType(), True), StructField('Borough', StringType(), True), StructField('Zone', StringType(), True), StructField('service_zone', StringType(), True)])

In [14]:
df.printSchema()

root
 |-- LocationID: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [15]:
selected_df = df.select("LocationID", "Borough", "Zone").filter(df.Borough == "Queens")

In [16]:
selected_df.show()

+----------+-------+--------------------+
|LocationID|Borough|                Zone|
+----------+-------+--------------------+
|         2| Queens|         Jamaica Bay|
|         7| Queens|             Astoria|
|         8| Queens|        Astoria Park|
|         9| Queens|          Auburndale|
|        10| Queens|        Baisley Park|
|        15| Queens|Bay Terrace/Fort ...|
|        16| Queens|             Bayside|
|        19| Queens|           Bellerose|
|        27| Queens|Breezy Point/Fort...|
|        28| Queens|Briarwood/Jamaica...|
|        30| Queens|       Broad Channel|
|        38| Queens|     Cambria Heights|
|        53| Queens|       College Point|
|        56| Queens|              Corona|
|        57| Queens|              Corona|
|        64| Queens|          Douglaston|
|        70| Queens|       East Elmhurst|
|        73| Queens|       East Flushing|
|        82| Queens|            Elmhurst|
|        83| Queens|    Elmhurst/Maspeth|
+----------+-------+--------------------+
only showing top 20 rows

In [17]:
selected_df.head()

Row(LocationID='2', Borough='Queens', Zone='Jamaica Bay')

In [18]:
selected_df.head(5)

[Row(LocationID='2', Borough='Queens', Zone='Jamaica Bay'),
 Row(LocationID='7', Borough='Queens', Zone='Astoria'),
 Row(LocationID='8', Borough='Queens', Zone='Astoria Park'),
 Row(LocationID='9', Borough='Queens', Zone='Auburndale'),
 Row(LocationID='10', Borough='Queens', Zone='Baisley Park')]

In [19]:
selected_df.registerTempTable("taxi_zone_data")

/usr/local/spark/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [20]:
selected_df.createOrReplaceTempView("taxi_zone_data")

In [21]:
spark.sql("""
    SELECT *
    FROM taxi_zone_data
    LIMIT 10;
""")

DataFrame[LocationID: string, Borough: string, Zone: string]

In [22]:
spark.sql("""
    SELECT *
    FROM taxi_zone_data
    LIMIT 10;
""").show()

+----------+-------+--------------------+
|LocationID|Borough|                Zone|
+----------+-------+--------------------+
|         2| Queens|         Jamaica Bay|
|         7| Queens|             Astoria|
|         8| Queens|        Astoria Park|
|         9| Queens|          Auburndale|
|        10| Queens|        Baisley Park|
|        15| Queens|Bay Terrace/Fort ...|
|        16| Queens|             Bayside|
|        19| Queens|           Bellerose|
|        27| Queens|Breezy Point/Fort...|
|        28| Queens|Briarwood/Jamaica...|
+----------+-------+--------------------+

In [23]:
selected_df.groupBy("Zone").count()

DataFrame[Zone: string, count: bigint]

In [24]:
selected_df.groupBy("Zone").count().show()

+--------------------+-----+
|                Zone|count|
+--------------------+-----+
|              Corona|    2|
|          Douglaston|    1|
|           Rego Park|    1|
|   Kew Gardens Hills|    1|
|             Bayside|    1|
|     Jackson Heights|    1|
|Flushing Meadows-...|    1|
|         Old Astoria|    1|
|       Broad Channel|    1|
|     Oakland Gardens|    1|
|Springfield Garde...|    1|
|            Flushing|    1|
|       East Elmhurst|    1|
|Long Island City/...|    1|
|          Whitestone|    1|
|Long Island City/...|    1|
|       South Jamaica|    1|
|           Glen Oaks|    1|
|       Richmond Hill|    1|
|   LaGuardia Airport|    1|
+--------------------+-----+
only showing top 20 rows

In [25]:
spark.sql("""
    SELECT Zone
          ,COUNT(1) AS count
    FROM taxi_zone_data
    GROUP BY Zone;
""")

DataFrame[Zone: string, count: bigint]

In [26]:
spark.sql("""
    SELECT Zone
          ,COUNT(1) AS count
    FROM taxi_zone_data
    GROUP BY Zone
    ORDER BY 2 DESC;
""").show()

+--------------------+-----+
|                Zone|count|
+--------------------+-----+
|              Corona|    2|
|          Douglaston|    1|
|           Rego Park|    1|
|   Kew Gardens Hills|    1|
|             Bayside|    1|
|     Jackson Heights|    1|
|Flushing Meadows-...|    1|
|         Old Astoria|    1|
|       Broad Channel|    1|
|     Oakland Gardens|    1|
|Springfield Garde...|    1|
|            Flushing|    1|
|       East Elmhurst|    1|
|Long Island City/...|    1|
|          Whitestone|    1|
|Long Island City/...|    1|
|       South Jamaica|    1|
|           Glen Oaks|    1|
|       Richmond Hill|    1|
|   LaGuardia Airport|    1|
+--------------------+-----+
only showing top 20 rows

In [27]:
selected_df.columns

['LocationID', 'Borough', 'Zone']